@charset "utf-8";
/* CSS Document */
#register_box {
	width:500px;
	height:auto;
	margin-top:40px;
	margin-left:100px;
}
.details_box {
	width:600px;
	height:auto;
	margin-top:40px;
	margin-left:50px;
}