@charset "utf-8";
/* CSS Document */



#contact {
	width:780px;
	height:auto;
	margin-top:30px;
}
#contact_left {
	display:inline;
	float:left;
	width:580px;
	height:auto;
	margin-left:40px;
}
#contact_left_title {
	width:580px;
	height:40px;
	line-height:40px;
	font-size:24px;
	color:#9e4f09;
	font-weight:bold;
	letter-spacing:2px;
	border-bottom:1px dotted #9e4f09;
}
#contact_left_box {
	width:500px;
	height:auto;
	margin-top:10px;
}
.contact_left_text {
	width:500px;
	height:auto;
	line-height:25px;
	letter-spacing:2px;
	margin-top:20px;
	color:#555555;
}

#contact_right {
	display:inline;
	float:left;
	width:125px;
	height:auto;
	margin-left:20px;
}
.contact_right_pic {
	width:125px;
	height:75px;
	margin-top:15px;
	padding:2px;
	border:1px solid #ffcc99;
}


.contact_title {
	width:330px;
	height:35px;
	line-height:35px;
	font-size:14px;
	font-weight:bold;
	color: #CC3366;
	margin-left:20px;
	letter-spacing:2px;
}
.contact_box {
	width:630px;
	height:auto;
	margin-left:20px;
}
.contact_box_left {
	display:inline;
	float:left;
	width:330px;
	height:auto;
}
.contact_box_lefttext {
	width:330px;
	height:25px;
	line-height:25px;
	letter-spacing:1px;
	border-bottom:1px dotted #663333;
}
.contact_box_right {
	display:inline;
	float:right;
	width:180px;
	height:100px;
}
.contact_box_right span {
	display:block;
	width:180px;
	height:30px;
	line-height:30px;
	text-align:center;
}