BODY {
	FONT-SIZE: 9pt; /*BACKGROUND: #d8d8d8;*/ MARGIN: 0px auto; /*COLOR: #5a8ea5;*/ FONT-FAMILY: ו,arial,verdana,sans-serif,fantasy,tahoma; TEXT-DECORATION: none; background1: #c8e4f2
}
A {
	TEXT-DECORATION: none
}
/*A:link {
	COLOR: #5a8ea5; color1: #5a8ea5
}*/
/*A:visited {
	COLOR: #5a8ea5; color1: #5a8ea5
}
A:hover {
	COLOR: #d40005; TEXT-DECORATION: underline
}*/
A:active {
	COLOR: #f30
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.box {
	FLOAT: left; WIDTH: 1000px
}
/*.box .boxpadding {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}*/
#Slide {
	/*CLEAR: both; */
	/*BORDER-RIGHT: #fff 1px solid; 
	BORDER-LEFT: #fff 1px solid; 
	BORDER-TOP: #fff 1px solid; 
	BORDER-BOTTOM: #fff 1px solid; */
	/*MARGIN-BOTTOM: 6px; */
	OVERFLOW: hidden; 
	WIDTH: 1000px; 
	HEIGHT: 350px;
	z-index:1;
	/*position:relative;*/
	-moz-opacity: 0.3; 
	
}
#Slide A {
	COLOR: #000
}
.img {
	MARGIN: 0px auto; 
	/*BORDER-RIGHT: #fff 1px solid; 
	BORDER-LEFT: #fff 1px solid; */
	TEXT-ALIGN: center
	/*BACKGROUND: #fff; */
	-moz-opacity: 0.3; 
}
.boxpadding {
	/*BORDER-RIGHT: #fff 1px solid; 
	BORDER-TOP: #fff 1px solid; */
	/*BACKGROUND: #f8f8f8; */
	BACKGROUND: url(../images/06.jpg); 
	/*MARGIN-BOTTOM: 8px; */
	/*BORDER-LEFT: #fff 1px solid; */
	/*PADDING-TOP: 10px; */
	/*BORDER-BOTTOM: #fff 1px solid*/
}

.thumb_title {
	MARGIN-TOP: 10px;
	/*BACKGROUND: #fff;*/
	text-align:right;
	FILTER: alpha(opacity=30);
	WIDTH: 1000px;
	TEXT-INDENT: 10px;
	LINE-HEIGHT: 25px;
	POSITION: absolute;
	HEIGHT: 25px;
	-moz-opacity: 0.3; 	
	left: 0px;
}
#Slide_Thumb {
	MARGIN-TOP: 280px; MARGIN-LEFT: 630px; POSITION: absolute
}
.thumb_on {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 8px; CURSOR: pointer
}
.thumb_off {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 8px; CURSOR: pointer
}
.thumb_off {
	FILTER: alpha(opacity=50); -moz-opacity: 0.5
}
.thumb_on {
	FILTER: alpha(opacity=100); -moz-opacity: 1
}
.thumb_off IMG {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; MARGIN-TOP: 12px; BORDER-LEFT: #fff 1px solid; WIDTH: 60px; BORDER-BOTTOM: #fff 1px solid; HEIGHT: 45px
}
.thumb_on IMG {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BORDER-LEFT: #fff 1px solid; WIDTH: 70px; BORDER-BOTTOM: #fff 1px solid; HEIGHT: 57px
}
